h2{font-weight: normal}
i{font-style: normal}
.floating_ck{display:none;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.tl{text-align:left;}

.pop-bg{opacity: 0.8}

.scroolpifu::-webkit-scrollbar {width:10px; height:10px;}
.scroolpifu::-webkit-scrollbar-button{background-color:#fff; visibility: hidden;}
.scroolpifu::-webkit-scrollbar-track{background:#fff; border-radius:4px;}
.scroolpifu::-webkit-scrollbar-track-piece {}
.scroolpifu::-webkit-scrollbar-thumb{background:#ffa711;border-radius:4px;}
.scroolpifu::-webkit-scrollbar-corner {background:#fff; }
.scroolpifu::-webkit-scrollbar-resizer {background:#fff;}

.christmas-banner{width:100%; height: 716px; background: url(/Style/H/images/christmas/christmas-banner.jpg) center top scroll no-repeat;}
.width1200{width:1200px; margin: 0px auto; position: relative;}
.chr-bannertime{width:584px; position: absolute; top:432px; left:50%; margin-left: -292px; color:#fff; font-size:36px;}

.money-product{height: 1251px; padding-top: 1px; background: url(/Style/H/images/christmas/christmas-bg1.jpg) center top scroll no-repeat;}
.maoneypro-main{margin-top: 140px;}
.maoneypro-box{width:370px; height: 365px; float: left;}
.money-productit{text-align: center; color:#fff; font-size: 24px; margin-top: 134px;}

.maoneypro-box{position:relative;width:370px;height:365px;background: url(/Style/H/images/christmas/moneypro1.png) no-repeat;}
.maoneypro-jdcard{background:url(/Style/H/images/christmas/moneypro-jdcard.png) no-repeat;}
.maoneypro-jdcardrey{background:url(/Style/H/images/christmas/moneypro-jdcardgrey.png) no-repeat}
.maoneypro-box1.maoneypro-box1grey{background:url(/Style/H/images/christmas/moneypro1-grey.png) no-repeat}
.maoneypro-box3{margin-left:36px;}
.maoneypro-box4{ margin-left: 212px; margin-top: -10px;}
.maoneypro-box5{ margin-left: 48px; margin-top: -10px;}
.monpro-tit{font-size: 28px; display: block; text-align: center; color:#fff; margin-top: 210px;}
.monpro-des{font-size: 28px; display: block; text-align: center;  margin-top: 79px; color:#d81603}
.monpro-money{position: absolute; top:166px; left: 235px; display: block; color:#fff; font-size: 12px;}
.login-touzibut,.nologin-touzibut{position: relative;}
.login-touzibut .touzibut-content{text-align: center; font-size: 24px; line-height: 40px; color:#ff0000}
.but-touzi{position:absolute;top:20px;left:50%;width:382px;height:175px;padding:92px 0 0 85px; margin-left: -233px; background: url(/Style/H/images/christmas/but-touzi.png) no-repeat}
.but-touzi a{display:inline-block;width:300px;height:90px;}
.nologin-touzibut p{text-align: center; font-size: 24px; color:#ff0000; margin-top: 30px;}
.nologin-touzibut p .nologin-loginbutton{color:#0018ff; font-size: 30px; margin: 0px 5px; text-decoration: underline;}

.wish-wrap{height:1197px;padding-top: 1px; background: url(/Style/H/images/christmas/christmas-bg2.jpg) center top scroll no-repeat;}
.wish-main{padding-top: 1px;}
.wish-main .wishfont{position: absolute; font-size: 20px; color:#fff; display: block;}
.wish-main .wishfont-yellow{font-size: 30px; color:#fff600}
.wish-main .wishfont1{top:120px; left:30px;}
.wish-main .wishfont2{top:163px; left:72px;}
.wish-main .wishfont3{top:188px; left:24px;}
.wish-main .wishfont4{top:198px; left:68px;}
.wish-main .wishfont5{top:237px; left:113px;}
.wish-main .wishfont6{top:301px; left:36px;}
.wish-main .wishfont7{top:389px; left:140px;}
.wish-main .wishfont8{top:344px; left:54px;}
.wish-main .wishfont9{top:384px; left:54px;}
.wish-main .wishfont9 a{color:#0018ff; font-size: 20px; text-decoration: underline;}
.wish-main .wishfont-change{width:198px; font-size: 61px; color:#fff600; top:355px; left:-3px; text-align: center;}
.wish-mainh2{text-align: center; color:#fff; line-height: 30px; font-size: 24px; margin-top: 208px;}
.wish-giftcontent{ margin-top: 40px;}
.wish-giftcontent ul li{width:320px; height: 318px; border:2px solid #287823; float: left; margin-left: 70px; position: relative}
.wish-giftcontent .wgift-box1{margin-left: 250px;}
.wish-giftcontent .wgift-box3{margin: 20px 0px 0px 250px;}
.wish-giftcontent .wgift-box4{margin: 20px 0px 0px 70px;}
.wish-giftcontent .wgift-bimg{width:222px; height: 222px; display: block; margin: 0px auto;}
.wish-giftcontent .wgift-btit{height:26px; line-height: 26px; text-align: center; font-size: 15px; display: block; color:#fff; overflow: hidden; background: #287823;}
.wgift-bot{margin-top: 15px; padding: 0 10px;}
.wgift-progress{float: left;}
.wgift-progress .wprogess-wai{width:160px; height: 12px; position: relative; background: #cbcbcb; border-radius: 5px;}
.wprogess-wai .wprogess-number{height:12px; display: block; position: absolute; top:0; left:0; background: #287823; border-radius: 5px;}
.wgift-progress .wprogess-ci{color:#ff1112; display: block; font-size: 18px; margin-top: 5px;}
.wgift-button{float:right;width:122px;height:39px;line-height:39px;font-size: 18px;text-align:center;color:#fff;background-color:#257321; border-radius:8px;}
.wgift-button:hover{color:#fff;background-color:#339e2d;}
.wish-giftcontent .gameover-ico{width:127px; height: 110px; display:block; position: absolute; top:72px; left:96px; background: url(/Style/H/images/christmas/gameover.png) no-repeat;}
.wgift-button.game-wgiftbutton,.wgift-button.game-wgiftbutton:hover{color:#fff; background: #5a5e5c; cursor: default}


.cometrue-wrap{height:1832px;background: url(/Style/H/images/christmas/christmas-bg3.jpg) center top scroll no-repeat;}
.cometrue-button{width:298px; height: 98px; line-height: 108px; padding-top: 10px; display: block; position: absolute; top:515px; right: 114px; color:#fff; font-size: 36px; text-align: center;}
.cometrue-button:hover{color:#fff}
.cometrue-list{width:850px; height: 258px; margin: 254px 0 0 201px; overflow: hidden;}
.cometrue-list ul li{font-size: 20px; line-height: 40px; color:#fff; padding-bottom: 10px;}
.tzmoney-number{width:174px; display: block; margin-left: 10px; color:#fdf7ae; float: left;}
.tzmoney-telphone{width:165px; display: block; margin-left: 30px; float: left;}
.tzmoney-list{width:412px;margin-left:45px; float:left;}
.tzmoney-list .mlist-li{height:40px;line-height:40px;display:block;}
.rule-h2{line-height:50px;padding:30px 0 10px;text-align:center;color:#581a02;font-size:30px;}
.rule-text{line-height:38px;color:#581a02;padding:0px 40px;font-size:22px;margin-top: 20px;}

.prize-box{width:780px;line-height:45px;margin:0 auto;padding-top:168px;color:#ff1801;font-size:24px;text-align:center;}
.prize-box h2{line-height:50px;padding-bottom:30px;font-size:30px;}
.prize-box table th, .prize-box table td{line-height:30px;padding:20px 0;border:solid 1px #ff1801;}

.floatlayer{display:none;z-index:9;position:fixed;top:50%;right:10px;width:198px;height:738px;color:#fff;margin-top:-369px;padding-top:1px;background: url(/Style/H/images/christmas/floatlayer.png) no-repeat;}
.floatlayer .floatl-box{width:129px; height: 123px; margin-left:20px; position: relative;}
.f_laytext{font-size: 20px; text-align: center;}
.floatlayer .floatl-box1{margin-top: 207px; line-height: 30px;}
.floatlayer .floatl-box3{line-height: 30px; height:128px}
.floatlayer .floatl-box2{ margin-top: 4px;}
.floatlayer .f_laytext2{line-height: 123px;}
.flay-span1{display: block; padding-top: 34px;}
.floatl-qrcode{width:129px; height: 145px; margin: 4px 0px 0px 19px; overflow: hidden; text-align: center; background: #b30b25;}
.floatl-qrcode img{display: block; width:111px; margin: 10px auto 3px;}


.f_laybox{width:454px; color:#fff; padding: 25px 20px; position: relative;background: url(/Style/H/images/christmas/f_laybox.png) repeat-y; position: absolute; top:0px; right: 129px; display: none;}
.mygift-pop{font-size: 16px; line-height: 36px;}
.mygift-pop .mygift-txt{padding-left: 20px;}
.xuyuan-pop{top:-60px; font-size: 16px; }
.xuyuan-tit{height:28px; line-height: 28px;}
.xuyuan-tit .xuyuan-tspan{display: block; text-align: center; float: left;}
.xuyuan-tit .xuyuan-tspan-a{width:78px;}
.xuyuan-tit .xuyuan-tspan-b{width:126px;}
.xuyuan-tit .xuyuan-tspan-c{width:100px;}
.xuyuan-tit .xuyuan-tspan-d{width:132px;}

.xuyuan-txt{margin-top: 5px; height: 160px; overflow-y: auto;}
.xuyuan-txt ul li{height:32px; line-height: 32px; overflow: hidden;}
.xuyuan-txt .xuyuan-pspan{display: block; float: left; height: 32px; overflow: hidden; text-align: center;}
.xuyuan-txt .xuyuan-pspan-a{width:78px;}
.xuyuan-txt .xuyuan-pspan-b{width:126px;}
.xuyuan-txt .xuyuan-pspan-c{width:100px;}
.xuyuan-txt .xuyuan-pspan-d{width:132px; text-align: left; padding-left: 10px;}
.xuyuan-txt .xuyuan-pspan-d.giftluck-span-d{width: 122px; padding-left: 5px; text-align: center}
.xuyuan-button,.botsd-close{display: block;width:100px;height:37px;line-height:36px;margin:10px auto 0;text-align:center;color:#fff;font-family: "微软雅黑";border-radius:4px;border:none 0;background-color:#f88f13;cursor:pointer;}
.xuyuan-button:hover,.botsd-close:hover{color:#fff;background-color:#f6a444;}
.xuyuan-txt .xy-success{color:#f88f13;}

.xyh-tabtit{margin-bottom: 10px;}
.xyh-tabtit .xyh-tab-a{width:102px; height: 35px; line-height: 35px; float: left; display: block; color:#b10823; background: #fff4e8; text-align: center; border-radius: 4px; margin-left: 10px;}
.xyh-tabtit .xyh-tab-curron{color:#fff; background: #f88f13;}
.xyh-lookmore,.xyh-lookmore:hover{color:#f88f13}
.sd-pop{color:#fff; position: fixed; top:50%; left:50%; background: url(/Style/H/images/christmas/sd-popbg.png) repeat-y; z-index: 999; display: none;}
.topsd-close{width:34px; height: 34px; position: absolute; top:20px; right: 20px; display: block; background: url(/Style/H/images/christmas/sd-close.png) no-repeat;}

.xyhdes-pop{width:1206px;height:440px;margin-left:-603px;margin-top: -220px;padding-bottom:30px;font-size:18px;}
.xyhdes-h2{text-align: center; font-size: 30px; color: #fff; margin-top: 40px;}
.xyhdes-content{width:1018px;margin:20px auto 0;padding-bottom:10px;border:2px solid #fff;border-radius:20px;overflow-y:auto;}
.botsd-close{margin-top:20px;}
.xyhp-tit{width:999px;height:30px;line-height:30px;margin:20px auto 0px;}
.xyhp-tit .xyhp-tspan,.xyhp-txt .xyhp-pspan{float:left;line-height:25px;text-align: center; display: block }
.xyhp-tit .xyhp-tspan-a{width:80px;}
.xyhp-tit .xyhp-tspan-b{width:220px;}
.xyhp-tit .xyhp-tspan-c{width:112px;}
.xyhp-tit .xyhp-tspan-d{width:570px; text-align: left;}
.xyhp-txt{width:999px;max-height:220px;margin:0 auto;overflow-y: auto;}
.xyhp-txt ul li{padding: 5px 0;}
.xyhp-txt .xyhp-pspan-a{width:80px;}
.xyhp-txt .xyhp-pspan-b{width:220px;}
.xyhp-txt .xyhp-pspan-c{width:112px;}
.xyhp-txt .xyhp-pspan-d{width:570px; text-align: left; overflow-wrap: break-word;}

.lookmore-pop{height:600px;margin-top: -300px;}
.lookmore-pop .xyhp-tspan-a, .lookmore-pop .xyhp-txt .xyhp-pspan-a{width:140px;}
.lookmore-pop .xyhp-tspan-b, .lookmore-pop .xyhp-txt .xyhp-pspan-b{padding-right:30px;}
.lookmore-pop .xyhp-txt .xyhp-pspan-d{width:560px; word-wrap: break-word; line-height: 27px;}
.lookmore-h3{line-height:50px;margin-top:10px;font-size:24px;font-weight:normal;text-align:center;}
.lookmore-h3 span{margin:0 10px;}
.pl100{padding-left:100px;}
.pl120{padding-left:120px;}

.wish-pop{display:none;z-index:99;position:fixed;top:50%;left:50%;width:433px;min-height:230px;line-height:40px;margin:-125px 0 0 -246px;padding:10px 30px 20px;font-size:18px;color:#fff;text-align:center;background:url(/Style/H/images/christmas/f_laybox.png) repeat-y;}
.wish-pop h2{padding-bottom:10px;font-size:30px;font-weight:normal;}
.wish-pop h3{font-weight:normal;}
.wish-pop h4{font-weight:normal;font-size:18px;text-align:left;}
.wish-pop .inp{width:175px;line-height:18px;padding:4px 0;text-align:center;font-size:16px;color:#fff;border:solid 2px #fff;border-radius:5px;background-color:transparent;}
.wish-count{line-height:30px;padding-left:175px;padding-bottom:5px;font-size:17px;text-align:left;color:#f88f13;}
.wish-code{min-height:50px;max-height:100px;line-height:25px;text-align:left;overflow-y:auto;overflow-x:hidden;}
.login-form{position:relative; padding-left:50px;}
.login-form p{text-align:left;}
.login-form .inp{width:245px;padding-left:10px;text-align:left;}
.login-form .short{width:75px;}
.login-form .im-vcode{margin:0 5px;border:1px solid #ccc;vertical-align:middle;}
.login-form .refresh{font-size:12px;color:#fff;}
.login-form .register{position:absolute;bottom:0px;right:10px;color:#f88f13;}
.wrong-tip{height:30px;font-size:12px;text-align:left;color:#666;}
#txtUser{color:#fff !important;}

.nologin-bar{line-height:50px;text-align:center;}
.nologin-bar a{color:#0018ff; text-decoration: underline}
.nologin-bar a:hover{color:#0018ff;}

.pnoda-data{margin:40px 0px; text-align: center; color: #ff9b9b}