i{font-style: normal}
.u-vishidden{visibility: hidden;}
.g-repwrap{width:1200px; margin: 0px auto;}
.g-repbanner{width:100%; height: 506px; overflow: hidden; background: url(../images/yeareport/rep-bannerbg.jpg) center top scroll #20a1d6 no-repeat;}
.g-repbanner .u-repban-h2{width:397px; height: 458px; margin: 23px auto 0; position: relative;}
.rep-banner-bg{width:397px; height: 458px; display: block; position: absolute; top:0; left: 0; background: url(../images/yeareport/rep-banner-bg.png) no-repeat; -webkit-animation:topmove .8s ease;  -moz-animation:topmove .8s ease; -ms- animation:topmove .8s ease;  animation:topmove .8s ease;}
.rep-banner-a{width:320px; height: 100px; display: block; position: absolute; top:106px; left:40px; background: url(../images/yeareport/rep-banner-a.png) no-repeat; -webkit-animation:widthmove .8s ease forwards;  -moz-animation:widthmove .8s ease forwards; -ms- animation:widthmove .8s ease forwards;  animation:widthmove .8s ease forwards; -webkit-animation-delay: 0.8s; -moz-animation-delay:0.8s; -ms-animation-delay:0.8s; animation-delay:0.8s; opacity: 0; opacity: 1\9\0}
.rep-banner-b{width:325px; height: 164px; display: block; position: absolute; top:215px; left:40px; background: url(../images/yeareport/rep-banner-b.png) no-repeat; -webkit-animation:fadein 2s ease forwards; -moz-animation:fadein 2s ease forwards; -ms-animation:fadein 2s ease forwards; animation:fadein 2s ease forwards; -webkit-animation-delay: 1.6s; -moz-animation-delay:1.6s; -ms-animation-delay:1.6s; animation-delay:1.6s; opacity: 0; opacity: 1\9\0}

.m-reppage{padding: 70px 0; overflow: hidden;}
.m-reppage1{background: #f5f6f7;}
.m-reppage2{background: #e9f4f7;}
.rep-data-title{width:325px; height: 101px; margin: 0px auto; background: url(../images/yeareport/rep-data-title.png) no-repeat;}

.rep-data-list{width:1080px; margin: 0px auto;}
.rep-data-list .r-databox{width:232px; height:232px;  float: left; display: inline; position: relative; text-align: center; margin: 45px 0px 0px 37px;}
.datab-c{width:118px; height: 118px; margin: 20px auto 0; border: 1px solid #04aae5; background: #f5f6f7;  position: relative; border-radius: 70px; -webkit-border-radius: 70px; -moz-border-radius: 70px;}
.datab-c-circle{width:114px; height: 114px; border: 1px solid #04aae5; position: absolute; top:22px; left:58px; border-radius: 70px; -webkit-border-radius: 70px; -moz-border-radius: 70px; transform:scale(1); -webkit-transition: all 0.5s ease; transition: all 0.5s ease;}
.r-databox:hover .datab-c-circle{transform:scale(1.3); opacity: 0;}
.datab-c-data{display: block; height: 36px; line-height: 36px; margin-top: 20px; font-size: 16px;}
.datab-c-data .data-n{font-size: 25px; color:#333; margin-right: 5px;}
.datab-c-data em{font-size: 25px; color:#333; font-style: normal;}
.datab-c-des{height:26px; line-height: 26px; font-size: 16px; color:#777}
.datab-c-ico{width:62px; height: 62px; display: block; position: absolute; top:31px; left:31px; background: url(../images/yeareport/datab-c-ico.png) no-repeat;}
.datab-c-ico1{ background-position: 0px 0px;}
.datab-c-ico2{ background-position: -62px 0px;}
.datab-c-ico3{ background-position: -124px 0px;}
.datab-c-ico4{ background-position: -186px 0px;}
.datab-c-ico5{ background-position: 0px -62px;}
.datab-c-ico6{ background-position: -62px -62px;}
.datab-c-ico7{ background-position: -124px -62px;}
.datab-c-ico8{ background-position: -186px -62px;}

.invdata-title{width:325px; height: 101px; margin: 0px auto 50px; background: url(../images/yeareport/invdata-title.png) no-repeat;}
.repcharts-wrap{width:550px; height: 530px; float: left; display:inline; position: relative;}
.repcharts-wrap .repcharts-date{width:550px; height: 500px; position: absolute; top:20px; left:0px;}
.css-datamove{-webkit-animation:datamove 2s ease forwards; -moz-animation:datamove 2s ease forwards; -ms-animation:datamove 2s ease forwards; animation:datamove 2s ease forwards;}
.his-invcharts{ margin-left: 50px; position: relative;}
.turnover-charts{margin-left: 50px;}
.his-perinvcharts{ margin: 60px 370px;}
.repcharts-h2{width:200px; height:43px; line-height:43px; text-align: center; position: absolute; bottom:10px; left:160px; font-size: 24px; color:#444444; font-weight: normal;}
.repcharts-xzhou{width:102px; height: 37px; font-size: 14px; line-height: 37px; color:#fff; text-align: center; position: absolute; top:-5px; left:10px; background: #05c3f3; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.subdate-income .subdate-three{position: absolute; bottom:65px; left:144px; color:#4b4b4b;}

.monthdate-title{width:400px; height: 101px; margin: 0px auto 50px; background: url(../images/yeareport/monthdate-title.png) no-repeat;}
.monthdate-main{width:966px; height: 462px; margin: 0px auto; position: relative;}
.monthdate-charts{width:986px; height: 462px; position: absolute; top:20px; left:0px;}
.monthdate-main .repcharts-xzhou{left:48px}

.subjectdate-title,.userdate-title,.areadate-title{width:400px; height: 101px; margin: 0px auto 50px; }
.subjectdate-title{background: url(../images/yeareport/subjectdate-title.png) no-repeat;}
.subdate-box{width:520px; height: 418px; float: left; display: inline; position: relative;}
.subdate-box.subdate-attr{margin-left: 20px;}
.subdate-box.subdate-time{margin-left: 116px;}
.subdate-box.subdate-income{width:320px; margin: 50px 0px 0 434px;}
.sub-box-charts{width:520px; height: 360px; position: absolute; top:30px; left:0px;}
.sub-box-charts.subincome-charts{width:320px;}
.subjectdate-main .repcharts-xzhou{top:10px; left:46px}
.subdate-box .repcharts-xzhou{left:-70px;}
.subdate-income .repcharts-h2{left:68px;}

.d-user-data{width:500px; float: left; display: inline;}
.userdate-title{background: url(../images/yeareport/userdate-title.png) no-repeat;}
.d-user-tit{width:102px; height: 37px; font-size: 14px; display: block; line-height: 37px; color:#fff; text-align: center; background: #05c3f3; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.d-user-sex{margin: 60px 0;}
.d-user-sex .dsex-box{width:205px; float: left; display: inline; overflow: hidden; text-align: center;}
.d-user-sex .dsex-box-wonman{margin-left: 74px;}
.dsex-box-img{margin-bottom: 30px; text-align: center;}
.dsex-box .dsex-box-tit,.zhongduan-w-box .zhongduan-w-tit{display:block; color:#666666; font-size: 16px;}
.dsex-box-wonman{margin-left: 74px;}
.databox-man{width:205px; height: 205px; display: block; background: url(../images/yeareport/dsex-box-man.png) no-repeat;}
.databox-woman{width:159px; height: 159px; display: block; margin: 47px auto 30px; background: url(../images/yeareport/dsex-box-woman.png) no-repeat;}
.dsex-box-data,.zhongduan-w-data{display: block; margin-top: 5px; font-size: 25px; color:#05c3f3;}
.zhongduan-wrap{margin-top: 40px;}
.zhongduan-w-box{width:143px; float: left; display: block; text-align: center;}
.zhongduan-w-box.zhongduan-w-pc{ margin-left: 40px;}
.zhongduan-w-box.zhongduan-w-mobile{ margin-left: 130px;}
.zhongduan-w-box .zhongduan-w-img{width:143px; height: 154px; display: block;}
.zhongduan-w-box .zhongduan-imgpc{width:143px; height: 124px; margin: 15px auto 66px; background: url(../images/yeareport/zhongduan-imgpc.png) no-repeat;}
.zhongduan-w-box .zhongduan-imgmobile{width:83px; height: 154px; margin: 0px auto 50px; background: url(../images/yeareport/zhongduan-imgmobile.png) no-repeat; }
.d-user-img{width:576px; height: 555px; float: right; margin-top: 130px; position: relative; }
.d-user-img .d-user-tit{position: absolute; top:0px; right: 0px;}
.userimg-m{width:646px; height: 646px; margin: 0px auto 0; position: relative;}
.userimg-m .d-cirimg{display: block; position: absolute; opacity: 0; opacity: 1\9\0; background: url(../images/yeareport/d-cirimg.png) no-repeat;}
.userimg-m .d-cirimg.css-cirmoving{-webkit-animation:fadein 1s ease forwards; -moz-animation:fadein 1s ease forwards; -ms-animation:fadein 1s ease forwards; animation:fadein 1s ease forwards; }
.userimg-m .d-circle1{width:234px; height: 98px; background-position: 0px -696px; top:0; left:124px}
.userimg-m .d-circle2{width:59px; height: 73px; background-position: -176px -796px; top:39px; left:88px}
.userimg-m .d-circle3{width:236px; height: 403px; background-position: 0 0; top:67px; left:0}
.userimg-m .d-circle4{width:221px; height: 289px; background-position: 0 -405px; top:180px; right:0}
.userimg-m .d-circle5{width:98px; height: 95px; background-position: 0 -796px; top:90px; right:12px}
.userimg-m .d-circle6{width:74px; height: 78px; background-position: -100px -796px; top:47px; right:65px}
.userimg-m .d-circle1.css-cirmoving{-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; -ms-animation-delay: 0.5s; animation-delay: 0.5s;}
.userimg-m .d-circle2.css-cirmoving{-webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s;}
.userimg-m .d-circle3.css-cirmoving{-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; animation-delay: 1.5s;}
.userimg-m .d-circle4.css-cirmoving{-webkit-animation-delay: 2s; -moz-animation-delay: 2s; -ms-animation-delay: 2s; animation-delay: 2s;}
.userimg-m .d-circle5.css-cirmoving{-webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -ms-animation-delay: 2.5s; animation-delay: 2.5s;}
.userimg-m .d-circle6.css-cirmoving{-webkit-animation-delay: 3s; -moz-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s;}

.d-cirtxt{position: absolute; font-size: 16px; color:#fff; opacity: 0; opacity: 1\9\0;}
.d-cirtxt.css-cirtxt{-webkit-animation:fadein 1s ease forwards; -moz-animation:fadein 1s ease forwards; -ms-animation:fadein 1s ease forwards; animation:fadein 1s ease forwards;}
.d-cirtxt1{top:30px; left:215px;}
.d-cirtxt2{top:60px; left:100px; color:#000}
.d-cirtxt3{top:285px; left:22px;}
.d-cirtxt4{top:325px; right:41px;}
.d-cirtxt5{top:130px; right:41px;}
.d-cirtxt6{top:73px; right:81px; color:#000}
.css-cirtxt.d-cirtxt1{-webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s;}
.css-cirtxt.d-cirtxt2{-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; animation-delay: 1.5s;}
.css-cirtxt.d-cirtxt3{-webkit-animation-delay: 2s; -moz-animation-delay: 2s; -ms-animation-delay: 2s; animation-delay: 2s;}
.css-cirtxt.d-cirtxt4{-webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -ms-animation-delay: 2.5s; animation-delay: 2.5s;}
.css-cirtxt.d-cirtxt5{-webkit-animation-delay: 3s; -moz-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s;}
.css-cirtxt.d-cirtxt6{-webkit-animation-delay: 3.5s; -moz-animation-delay: 3.5s; -ms-animation-delay: 3.5s; animation-delay: 3.5s;}

.agebox-num{position: absolute; opacity: 0; opacity: 1\9\0;}
.agebox-num.css-numbertxt{-webkit-animation:fadein 1s ease forwards; -moz-animation:fadein 1s ease forwards; -ms-animation:fadein 1s ease forwards; animation:fadein 1s ease forwards;}
.agebox-a{top:-28px; left:208px; font-size: 16px; color:#8fbe00;}
.agebox-c{top:338px; left:-54px; font-size: 16px; color:#008ab8;}
.agebox-d{top:359px; right:-48px; font-size: 16px; color:#c7523e;}
.agebox-e{top:109px; right:-48px; font-size: 16px; color:#235bdb;}
.agebox-b{width:85px; height: 63px; position: absolute; top:-14px; left:12px; text-indent: 10px; font-size: 16px; color:#ed5f8e}
.agebox-b:after{width:1px; height: 33px; content: ''; display: block; position: absolute; right: 0px; bottom: 0px; background: #ed5f8e;}
.agebox-b:before{width:80px; height: 1px; content: ''; display: block; position: absolute; right: 0px; bottom: 32px; background: #ed5f8e;}
.agebox-f{width:92px; height: 63px; position: absolute; top:0; right:-4px;  font-size: 16px; color:#d4aa00;}
.agebox-f:after{width:1px; height: 33px; content: ''; display: block; position: absolute; left: 0px; bottom: 0px; background: #d4aa00;}
.agebox-f:before{width:92px; height: 1px; content: ''; display: block; position: absolute; right: 0px; bottom: 32px; background: #d4aa00;}
.css-numbertxt.agebox-a{-webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; animation-delay: 1s;}
.css-numbertxt.agebox-b{-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; animation-delay: 1.5s;}
.css-numbertxt.agebox-c{-webkit-animation-delay: 2s; -moz-animation-delay: 2s; -ms-animation-delay: 2s; animation-delay: 2s;}
.css-numbertxt.agebox-d{-webkit-animation-delay: 2.5s; -moz-animation-delay: 2.5s; -ms-animation-delay: 2.5s; animation-delay: 2.5s;}
.css-numbertxt.agebox-e{-webkit-animation-delay: 3s; -moz-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s;}
.css-numbertxt.agebox-f{-webkit-animation-delay: 3.5s; -moz-animation-delay: 3.5s; -ms-animation-delay: 3.5s; animation-delay: 3.5s;}

.areadate-title{background: url(../images/yeareport/areadate-title.png) no-repeat;}
.areadate-main{height: 586px;}
.area-china{width:716px; height: 586px; float: left; position: relative; }
.area-china .area-china-map{width:890px; height: 686px; position: absolute; top:-40px; left: -100px; }
.list-areaname{width:482px; height: 556px; float: right; margin-top: 80px;}
.list-b-box{height: 33px; line-height: 33px; margin-bottom: 12px;}
.list-b-box .list-b-tit{width:72px;  display: block; float: left; text-align: right; font-size: 18px; color: #666666;}
.list-b-box .list-b-prigress{display: block; height: 31px; float: left; margin-left: 16px; border:1px solid #7fafe1; background: url(../images/yeareport/list-b-prigress.png) repeat-x;}
.list-b-box .list-b-number{font-size:18px; color: #666; float: left; margin-left: 7px;}


.eventdate-title{width:525px; height: 101px; margin: 0px auto 50px; background: url(../images/yeareport/eventdate-title.png) no-repeat;}
.memorabilia{width:1006px; height:1600px; position: relative; margin: 0px auto;}
.memorabilia.css-memorabilia{ -webkit-animation:datamove 2s ease forwards; -moz-animation:datamove 2s ease forwards; -ms-animation:datamove 2s ease forwards; animation:datamove 2s ease forwards;}
.big-line{width:1px; height: 1524px; position: absolute; top:0px; left:501px; background: #07c3f2;}
.bigline-m{width:10px; height: 10px; display: block; position: absolute; top:0px;}
.bigline-m .big-span{width:10px; height: 10px; display: block; position: absolute; top:0px; left:0px; background: #05c3f3; z-index: 2; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
.bigline-m .big-circle{width:16px; height: 16px; display: block; background: #c0f1fd; position: absolute; top:-3px; left:-3px; z-index: 1; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; opacity: 0; }
.bigtime-box:hover .big-circle{animation: bigsmall .8s linear infinite alternate; transform:scale(1);}
.bigtime-box:hover .bigtime-tit{color:#04aae5}
@keyframes bigsmall{0%{opacity: 0;transform:scale(1);}50%{transform:scale(1.5);opacity: 1;}100%{transform:scale(1);opacity: 0;}}
@-webkit-@keyframes bigsmall{0%{opacity: 0;transform:scale(1);}50%{transform:scale(1.5);opacity: 1;}100%{transform:scale(1);opacity: 0;}}
@-moz-@keyframes bigsmall{0%{opacity: 0;transform:scale(1);}50%{transform:scale(1.5);opacity: 1;}100%{transform:scale(1);opacity: 0;}}
.bigline-m-a{top:6px; left:-47px;}
.bigline-m-b{top:6px; right: -45px;}
.bigline-m-c{top:6px; left:-47px;}
.bigline-m-d{top:6px; right: -45px;}
.bigline-m-e{top:6px; left:-47px;}
.bigline-m-f{top:6px; right: -45px;}
.bigline-m-g{top:6px; left:-47px;}
.bigline-m-h{top:6px; right: -45px;}
.bigline-m-i{top:6px; left:-47px;}
.bigline-m-j{top:6px; right: -45px;}
.bigtime-box{width:462px; position: absolute;}
.bigtime-box1{ text-align: left; top:-6px; right: 0px;}
.bigtime-box2{ text-align: right; top:81px; left: 0px;}
.bigtime-box3{ text-align: left; top:242px; right: 0px;}
.bigtime-box4{ text-align: right; top:329px; left: 0px;}
.bigtime-box5{ text-align: left; top:488px; right: 0px;}
.bigtime-box6{ text-align: right; top:585px; left: 0px;}
.bigtime-box7{ text-align: left; top:759px; right: 0px;}
.bigtime-box8{ text-align: right; top:855px; left: 0px;}
.bigtime-box9{ text-align: left; top:1042px; right: 0px;}
.bigtime-box10{ text-align: right; top:1120px; left: 0px;}
.bigtime-box11{ text-align: left; top:1291px; right: 0px;}
.bigtime-box12{ text-align: right; top:1374px; left: 0px;}
.bigtime-box .bigtime-tit{font-size: 16px; font-weight: normal}
.bigtime-box .bigtime-img{margin-top: 20px;}

/*动画*/
@-webkit-keyframes topmove{0%{transform:translateY(-500px)}100%{transform:translateY(0)}}
@-moz-keyframes topmove{0%{transform:translateY(-500px)}100%{transform:translateY(0)}}
@-ms-keyframes topmove{0%{transform:translateY(-500px)}100%{transform:translateY(0)}}
@keyframes topmove{0%{transform:translateY(-500px)}100%{transform:translateY(0)}}
@-webkit-keyframes widthmove{0%{width:0;opacity:0}100%{width:320px;opacity:1}}
@-moz-keyframes widthmove{0%{width:0;opacity:0}100%{width:320px;opacity:1}}
@-ms-keyframes widthmove{0%{width:0;opacity:0}100%{width:320px;opacity:1}}
@keyframes widthmove{0%{width:0;opacity:0}100%{width:320px;opacity:1}}
@-webkit-keyframes fadein{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes fadein{0%{opacity:0}100%{opacity:1}}
@-ms-keyframes fadein{0%{opacity:0}100%{opacity:1}}
@keyframes fadein{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes datamove{0%{transform:translateY(-100px)}100%{transform:translateY(0)}}
@-moz-keyframes datamove{0%{transform:translateY(-100px)}100%{transform:translateY(0)}}
@-ms-keyframes datamove{0%{transform:translateY(-100px)}100%{transform:translateY(0)}}
@keyframes datamove{0%{transform:translateY(-100px)}100%{transform:translateY(0)}}

/*2016.12报告*/
.rep-data-list .r-databox.m-r-databox2,.rep-data-list .r-databox.m-r-databox3,.rep-data-list .r-databox.m-r-databox5,.rep-data-list .r-databox.m-r-databox6{margin-left: 148px;}
.rep-banner-b.rep-banner-201612month{background: url(../images/yeareport/201612/rep-banner-201612month.png) no-repeat;}

/*201701*/
.rep-banner-b.rep-banner-201701month{background: url(../images/yeareport/201701/rep-banner-201701month.png) no-repeat;}
.rep-banner-b.rep-banner-201702month{background: url(../images/yeareport/201702/rep-banner-201702month.png) no-repeat;}
.rep-banner-b.rep-banner-201703month{background: url(../images/yeareport/201703/rep-banner-201703month.png) no-repeat;}
.rep-banner-b.rep-banner-201704month{background: url(../images/yeareport/201704/rep-banner-201704month.png) no-repeat;}
.rep-banner-b.rep-banner-201705month{background: url(../images/yeareport/201705/rep-banner-201705month.png) no-repeat;}
.rep-banner-b.rep-banner-201706month{background: url(../images/yeareport/201706/rep-banner-201706month.png) no-repeat;}
.rep-banner-b.rep-banner-201707month{background: url(../images/yeareport/201707/rep-banner-201707month.png) no-repeat;}
.rep-banner-b.rep-banner-201708month{background: url(../images/yeareport/201708/rep-banner-201708month.png) no-repeat;}
.rep-banner-b.rep-banner-201709month{background: url(../images/yeareport/201709/rep-banner-201709month.png) no-repeat;}
.rep-banner-b.rep-banner-201710month{background: url(../images/yeareport/201710/rep-banner-201710month.png) no-repeat;}
.rep-banner-b.rep-banner-201711month{background: url(../images/yeareport/201711/rep-banner-201711month.png) no-repeat;}
.rep-banner-b.rep-banner-201712month{background: url(../images/yeareport/201712/rep-banner-201712month.png) no-repeat;}
