* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
body {
	margin-bottom: 50px;
	background-color: #f0f0f0;
}
img {
	max-width:100%;
	height:auto;
}
.bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
#bottomNav a {
	color: #727171;
	font-size: 80%;
}
#bottomNav a.active {
	color: #25b4e9;
}
#header .bar {
	background-color: #54c0f2;
	text-align: center;

}
#header .bar .title {
	color: #fff;
	font-size: 2rem;
	padding-top: 10px;
}
.content ul {
	margin-top: 10px;
}

.content div a {
	color: #4d4d4d;
	text-decoration: none;
	font-size: 120%;
}
.content div a i {
	padding-left: 70%;
	color: #888686;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
}
.phone {
	position: relative;
	left: 40%;
	top: -25px;
	padding-left: 35px;
	background: url("../img/phone.png") no-repeat; 
	background-size: contain;
	color: #54c0f2;
	padding-top: 2px;
	padding-bottom: 2px;
}
.version {
	position: relative;
	left: 35%;
	top: -25px;
	padding-left: 35px;
	color: #54c0f2;
}


.menuTitle{
	
	 background:url("../img/sjx1.png")no-repeat 10px 17px;
	 margin:0 auto; 
	 line-height:50px; 
	 font-size:1.2rem; 
     background-color: #fff;
	 
	 padding-left: 30px;
	 margin-bottom: 2px;}
.activeTitle{
	 background-image:url("../img/sjx2.png") ; font-size:1.2rem; 
}
.menuContent{
	background-color:#f0f0f0;  margin:0 auto; height:auto; width:93%; font-size:1.2rem; text-align:left; display:none; padding-top:10px; padding-bottom:10px; line-height:25px; color:#4d4d4d;
}
.bank{ background-color:#fff; border:1px solid #e5e5e5;height:30px; text-align:center; float:left; font-size:1.2rem; line-height:30px;  padding-left:10px; padding-right:10px;}
.bank1{ background-color:#e5e5e5; border:1px solid #e5e5e5; width:auto; height:30px; text-align:center; float:left; font-size:1.2rem; line-height:30px; margin-bottom:10px; padding-left:10px; padding-right:10px;}
.bank_style{  padding:5px; float:left; font-size:1.2rem; margin-bottom:10px;}
.bank_header{ background-color:#e5e5e5; text-align:center; height:30px; font-size:1.2rem;}
.bank_header1{ background-color:#e5e5e5; text-align:left; height:30px; font-size:1.2rem;}
.bank_header1 td{ padding-left:20px;}
.bank_content{text-align:center; height:30px;font-size:1.2rem; }
.bank_content1{text-align:left; font-size:1.2rem; padding-left:10px;  }

.menuContent div{
    padding: 6px 12px;
}
.menuContent .des{
    background-color: #E5E5E5;
}
.menuContent ul{
    padding: 6px 12px;
    overflow: hidden;
    margin: 0px;
}
.menuContent ul li{
    width:50%;
    float: left;
}