* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
body {
	margin-bottom: 50px;
	background-color: #f0f0f0;
}
img {
	max-width:100%;
	height:auto;
}
.bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
#bottomNav a {
	color: #727171;
	font-size: 80%;
}
#bottomNav a.active {
	color: #25b4e9;
}
#header .bar {
	background-color: #54c0f2;
	text-align: center;
	
}
#header .bar .title {
	color: #fff;
	font-size: 120%;
	padding-top: 10px;
}
.content {
	text-align: center;
	padding: 20px;
}
.content .balance {
	
	font-size: 110%;
	padding: 10px;
}
.content .balance .num {
	display: inline-block;
	
	margin-left: 5%;
	margin-right: 5%;
	font-size: 130%;
	color: red;
	text-align: left;
}
.content .chargecount {
	background-color: #fff;
	
	font-size: 110%;
	padding: 10px;
	border-bottom: 1px solid #dcdcdc;;
}
.content .chargecount input {
	border: 0px;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}
.content .note {
	font-size: 60%;
	color: #616161;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.content .login .btn {
	padding-left: 25%;
	padding-right: 25%;
}