* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
body {
	margin-bottom: 50px;
	background-color: #f0f0f0;
}
img {
	max-width:100%;
	height:auto;
}
.bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
#bottomNav a {
	color: #727171;
	font-size: 80%;
}
#bottomNav a.active {
	color: #25b4e9;
}
#header .bar {
	background-color: #54c0f2;
	text-align: center;
	
}
#header .bar .title {
	color: #fff;
	font-size: 120%;
	padding-top: 10px;
}
.content {
	text-align: center;
	padding: 20px;
}
.content .info {
	font-size: 80%;
	color: #9b9393;
	line-height: 150%;
}
.content .info span {
	color: #54c1f3;
}
.content .input-area {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	/*margin-left: 3%;
	margin-right: 3%;*/
}
.content .input-area .area {
	background-color: #fff;
	padding: 10px;
	margin: 3px;
	color: #616161;
}
.content .input-area .area input {
	margin-left: 10%;
	border: 0px;
}
.content .confirm a {
	background-color: #54c1f3;
	margin: 10px;
	padding: 10px;
	padding-left: 35%;
	padding-right: 35%;
}
